@font-face{
font-family: 'Open Sans';
src: url('../fonts/Montserrat-ExtraBold.eot');
src: url('../fonts/Montserrat-ExtraBold.eot?iefix') format('eot'),
url('../fonts/Montserrat-ExtraBold.woff') format('woff'),
url('../fonts/Montserrat-ExtraBold.ttf') format('truetype');
font-weight: 800;
font-style: normal;
}
@font-face{
font-family: 'Open Sans';
src: url('../fonts/Montserrat-Regular.eot.');
src: url('../fonts/Montserrat-Regular.eot?iefix') format('eot'),
url('../fonts/Montserrat-Regular.woff') format('woff'),
url('../fonts/Montserrat-Regular.ttf') format('truetype');
font-weight: 400;
font-style: normal;
}